@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Mono&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .animate-links {
    @apply w-fit m-auto transform hover:text-green-600 hover:translate-y-2 hover:scale-110 hover:text-lg duration-300 ease-in-out cursor-pointer;
  }
  .rotate-burger {
    @apply transform skew-y-6 duration-300 ease-in;
  }
  .hide-nav {
    @apply opacity-0 transform translate-y-0 duration-300 ease-in;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
